$bg-gray: #f5f7fa;
$text-color: #18191f;
$base-font-family: Arial, sans-serif;
$care-text-color: #717171;
$title-size: 34px;
$title-weight: 600;
$client-width: 1110px;
$container-top-padding: 40px;
$bg-green: #4caf4f;
$box-shadow: 0px 2px 4px 0px #abbed133;
